BasedOnStyle:                           LLVM
Standard:                               Auto
IndentWidth:                            4
TabWidth:                               4
BreakBeforeBraces:                      Allman
AllowShortIfStatementsOnASingleLine:    false
IndentCaseLabels:                       false
AlignTrailingComments:                  true
ColumnLimit:                            80
